.row
  .col-md-3.mbtm15
    = text_field_tag("ItemNumber", nil, class: "form-control", placeholder: "Item Number")
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("BulbDescription", nil, class: "form-control", placeholder: "Bulb Description")
.row
  .col-md-3.mbtm15
    = text_field_tag("SupplierPrice", nil, class: "form-control", placeholder: "Supplier Price")
.row
  .col-md-3.mbtm15.txt_area
    =  text_area_tag("SpecialDescription", nil, class: "form-control", placeholder: "Special Description")