.row
  .col-md-3.mbtm15
    = text_field_tag("project[items][][plant_name]", nil, class: "form-control", placeholder: "Plant Name")
  .col-md-3.mbtm15
    = text_field_tag("project[items][][size]", nil, class: "form-control", placeholder: "Size")