.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][product][new][name]", nil, class: "form-control", placeholder: "Plant Name", required: true)
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][product][new][size]", nil, class: "form-control", placeholder: "Size", required: true)
.row
  .fileUpload.btn.btn-primary.mbtm15
    %span Upload image
    = file_field_tag("project[item_list][][product][new][source]", class: "upload")