.row
  .col-md-3.mbtm15
    = text_area_tag("project[item_list][][new_product][description]", nil, class: "form-control", placeholder: "Lamp Description")
.row
  .col-md-3.mbtm15.txt_area
    = text_field_tag("project[item_list][][new_product][size]", nil, class: "form-control", placeholder: "Lamp Size")
.row
  .fileUpload.btn.btn-primary
    %span Upload image
    = file_field_tag("project[item_list][][new_product][image]", class: "upload")
    %br
