.row
  .col-md-3.mbtm15
    = text_field_tag("Tag", nil, class: "form-control", placeholder: "Tag")
  .col-md-3.mbtm15
    = text_field_tag("Quantity", nil, class: "form-control", placeholder: "Quantity")
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("Item Description", nil, class: "form-control", placeholder: "Item Description")
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("Special Instructions", nil, class: "form-control", placeholder: "Special Instructions")
