= render 'projects/forms/similar_fields'
= hidden_field_tag "project[item_list][][product][new][artwork_type]", "Vinyl"
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("project[item_list][][special_instructions]", nil, class: "form-control", placeholder: "Special Instructions")
