%section#main-content.cus
  %section.wrapper
    %div.serch_bg
      #top_menu.nav.search-row
        %ul.nav.top-menu
          %li
            %form.navbar-form
              %input.form-control{:placeholder => "Search", :type => "text"}

  %section.panel
    %header.panel-heading.no-border
      Order's
    %table.table.table-bordered
      %thead
        %tr
          %th #
          %th Project Name
          %th Order Number
          %th Action
      %tbody
      - @projects.each_with_index do |project,index|
        %tr
          %td
            #{index+1}
          %td
            = link_to  project.name, project_path(project.id)
          %td
            = link_to project.po_number, "#"
          %td
            .btn-group
              -#= link_to("", edit_project_path(project.id), class: "btn glyphicon glyphicon-pencil" )
              -#= link_to("", project_path(project.id),method: :delete, class: "btn glyphicon glyphicon-trash red verticalLine")
    .flickr_pagination
      = will_paginate @projects