%section#main-content.cus
  %section.wrapper
    %div.serch_bg
      #top_menu.nav.search-row.txt-clr
        %ul.nav.top-menu
          %li
            = link_to "Create Project", new_project_path,class:'btn'
          %li
            %form.navbar-form
              %input.form-control{:placeholder => "Search", :type => "text"}
    %h1 Projects Quote's