%section#main-content
  %section.wrapper
    %h1 New Project
    %section.panel
      %div.panel-body.ptop35
        = form_tag("/projects", method: :post) do
          = render 'form'


= javascript_include_tag "project", 'data-turbolinks-track' => true
