%section#main-content.cus
  %section.wrapper
    %section.panel
      %header.panel-heading.no-border
        Product
      .product_layer
        .row
          .col-md-3
            Product Name
          .col-md-3
            Product label
          .col-md-3
            Supplier list
        .row
          .col-md-3
            first
          .col-md-3
            second
          .col-md-3
            .example
              %select#example-multiple-selected{:multiple => "multiple"}
                %option{:value => "1"} Option 1
                %option{:selected => "selected", :value => "2"} Option 2
                %option{:selected => "selected", :value => "3"} Option 3
                %option{:value => "4"} Option 4
                %option{:value => "5"} Option 5
                %option{:value => "6"} Option 6

:javascript
  $('#example-multiple-selected').multiselect();