%section#main-content
  %section.wrapper
    %h1 Add Item
    %section.panel
      %div.panel-body.ptop35
        - if @type.eql?("addon")
          .row
            .col-md-3.mbtm15
              = select_tag("product_type", options_for_select(Addons.to_a.map(&:reverse)),include_blank: "Addon Type" , class: "form-control")
        - elsif @type.eql?("item")
          .row
            .col-md-3.mbtm15
              = select_tag("product_type", options_for_select(Categories.to_a.map(&:reverse)),include_blank: "Item Type" , class: "form-control")
        .row
          .col-md-12.selected_item


