%section#main-content.cus
  %section.wrapper
    %section.panel
      %header.panel-heading.no-border
        Item
      %table.table.table-bordered
        %thead
          %tr
            %th Type
            %th Action
        %tbody
          %tr
            %td
              = @product._type.split("::").last
              - if @product.has_attribute?(:source) && @product.source.present?
                = image_tag(@product.source, class: "product_mini_img" )
            %td
              .btn-group
                = link_to("", edit_product_path(@product.id), class: "btn glyphicon glyphicon-pencil black")
                = link_to("", product_path(@product.id), method: :delete, class: "btn glyphicon glyphicon-trash red verticalLine")